@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Welcome to Artist Profiles</h1>
        <p class="lead mt-3">
            Discover the world of talented artists and explore their biographies, achievements, and artwork.
        </p>
        <p>
            Our website features a wide range of artists, from painters to musicians, with in-depth biographies, galleries of their works, and links to more information.
        </p>
    </div>
    <!-- Section for website info -->
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>About the Website</h2>
            <p>
                This website is your go-to destination for exploring the lives and works of various artists from around the globe. Whether you're looking for detailed biographies, visual galleries, or links to further readings, you'll find everything here. Our mission is to bring the stories of these talented individuals to life and make them accessible to everyone.
            </p>
            <a href="#" class="btn btn-info">Learn More</a>
        </div>
        <div class="col-md-6" >
            <img src="https://assets.teenvogue.com/photos/629f4e5a29dd071c4f7dbf5c/16:9/w_2560%2Cc_limit/Culture_BMM-2022_BooksAboutBlackArtists_SOCIAL.jpg" class="img-fluid rounded" alt="Website Image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUBTeOpx2masV1yMTlDhFBWVxh2IXExPHL1LVMInt8F5vEfLwDpaOlfsCH7ClOhnXe5zA&usqp=CAU" class="img-fluid rounded" alt="Website Image">

        </div>
        
    </div>
</div>